name: smoke_test

on:
  push:
    branches: [ '*' ]
  pull_request:
    branches: [ '*' ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Go
      uses: actions/setup-go@v4
      with:
         go-version: 1.21.1

    - name: Build-DB
      run: docker compose build mysql-go-products-api
      
    - name: Create-DB
      run: docker compose up mysql-go-products-api -d
      
    - name: Wait for DB to start
      run: sleep 8

    - name: Test
      run: go test -v main_smoke_test.go
